@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    @apply bg-blogGrey
}


.formContainer {
    margin: 4rem;
    display: flex;
    justify-content: center;

}

.formActual {
    border: 2px solid black;
    padding: 1rem;
}

.formControl {
    display: flex;
    flex-direction: column;
}

.signUpInput {
    border: 2px solid black
}

.signUpButton {
    margin-top: 1rem;
}

.prose ul {
    list-style-type: disc;
    /* Ensure bullet points display */
    margin-left: 1.5rem;
    /* Add some indentation */
}

.prose ol {
    list-style-type: decimal;
    /* Ensure ordered lists display */
    margin-left: 1.5rem;
    /* Add some indentation */
}

.prose h1 {
    font-size: 2.25rem;
    /* Example size */
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.prose h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.prose h3 {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
